
@using SinavProje.Entities.Concrete.Entities
@using SinavProje.Extensions
@model SinavProje.Core.Utilities.Results.IDataResult<List<SinavProje.Entities.Concrete.ClientEntities.Response.ArticleResponse>>

@{
    ViewData["Title"] = "Home Page";
    int userId = Context.Session.GetObject<User>("user").Id;
}

<div class="container">
    @{
        if (Model.Success)
        {
            int i = 0;
            foreach (var article in Model.Data)
            {
                <form class="form" method="post" action="/Exam/Index">
                    <div class="row justify-content-md-center">
                        <div class="col-auto">
                            <a class="btn btn-block" id="@i" onClick="getArticle(this.id)"><h4 id="ExamTitle">@article.Title</h4></a>
                        </div>
                    </div>
                    <div id="myDIV-@i" style="display: none;">
                        <div class="row justify-content-md-center">
                            <div class="col-auto" id="ExamContent">
                                <p style="font-size:120%;">@article.Content</p>
                            </div>
                        </div>
                        @{
                            for (int k = 1; k < Model.Data.Count; k++)
                            {
                                <div class="row justify-content-md-center">
                                    <div class="col my-3" id="Q1div">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="inputGroup-sizing-default">Question @k</span>
                                            </div>
                                            <input name="" id="UserId" value="@userId" hidden />
                                            <textarea type="text" style="height: 100%" class="form-control" rows="4" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="Q@(k)" id="Q@(k)" required></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="row justify-content-md-center">
                                    <div class="col-6" id="myDIV-@i">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">
                                                    <span>A)</span>
                                                </div>
                                            </div>
                                            <textarea type="text" class="form-control" rows="2" aria-label="Text input with checkbox" name="A@(k)" id="A@(k)" required></textarea>
                                        </div>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">
                                                    <span>B)</span>
                                                </div>
                                            </div>
                                            <textarea rows="2" type="text" class="form-control" aria-label="Text input with checkbox" name="B@(k)" id="B@(k)" required></textarea>
                                        </div>
                                    </div>
                                    <div class="col-6" id="myDIV-@i">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">
                                                    <span>C)</span>
                                                </div>
                                            </div>
                                            <textarea rows="2" type="text" class="form-control" aria-label="Text input with checkbox" name="C@(k)" id="C@(k)" required></textarea>
                                        </div>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">
                                                    <span>D)</span>
                                                </div>
                                            </div>
                                            <textarea rows="2" type="text" class="form-control" aria-label="Text input with checkbox" name="D@(k)" id="D@(k)" required></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="row justify-content-md-center">
                                    <div class="col my-3" id="Answer">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <label class="input-group-text" for="inputGroupSelect01">Correct Answer :</label>
                                            </div>
                                            <select class="custom-select" name="Answer@(k)" id="Answer@(k)" required="required">
                                                <option value="" selected>Choose...</option>
                                                <option value="A">A)</option>
                                                <option value="B">B)</option>
                                                <option value="C">C)</option>
                                                <option value="D">D)</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                            }
                            <div class="row justify-content-md-center">
                                <div class="col my-5 text-center" id="create">
                                    <button type="submit" class="btn btn-outline-success btn-lg btn-block">Create Exam</button>
                                </div>
                            </div>
                        }

                    </div>
                </form>
                i++;
            }
        }
        else
        {
            <h2>@Model.Message</h2>
        }

    }
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/exam.js" asp-append-version="true"></script>